@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html, body{
    margin:0;
    padding:0;
    background:#fffaeb;
}

ul, li{
    margin:0;
    padding:0;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
    color:#333;
}

figure{
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6,p,strong{
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
    color:#333;
}

a{
    text-decoration: none;
    color:#333;
    font-family: 'Noto Sans', sans-serif;
}

*{box-sizing: border-box;}




/* header */
header{
    padding:50px 60px;
}
header h1 a{}
header h1 a img{}





/* nav */
nav{
    z-index: 997;
    padding:50px;
    border-top:1px solid #ff9292;
    width:100%;
    text-align: center;
    background:#fffaeb;

    position: fixed;
    bottom:0;
    left:0;
}
nav a{
    display: inline-block;
    padding: 0 100px;
    font-weight: bold;
}
nav a.active{
    color:#ff9292;
}




/* buger */
.menu-trigger{
    display:none;
    
    z-index: 999;
    width:20px;
    height:20px;
    position:fixed;
    top:55px;
    right:60px;
}

.menu-trigger span{
    position: absolute;
    left:0;
    width:100%;
    height: 2px;
    background:#333;
    border-radius: 50px;
    transition: .5s;
}
.menu-trigger span:nth-of-type(1){
    top:0;
}
.menu-trigger span:nth-of-type(2){
    top:50%;
    transform: translateY(-50%);
}
.menu-trigger span:nth-of-type(3){
    bottom:0;
}


.menu-trigger.active span:nth-of-type(1){
    transform: translateY(9px) rotate(45deg);
    background: #ff9292;
}
.menu-trigger.active span:nth-of-type(2){
    border:2px solid #ff9292;
    background: none;
    transform: rotate(90deg);
    width:30px; height: 30px;
    top:50%; left:-5px;
    transform: translateY(-50%);
    transform-origin: 50% 50%;
}
.menu-trigger.active span:nth-of-type(3){
    transform: translateY(-9px) rotate(-45deg);
    background:#ff9292;
}







/* list_menu */
.menu{
    display: none;
}
.menu.active{
    z-index: 998;
    background:rgba(0,0,0,0.2);

    position: absolute;
    top:0; left:0;
    width:100%;
    height: 100%;
    transition: 1s;
}
.bg{
    background:#fffaeb;
    padding:10px;

    position: fixed;
    top:0; right:0;
    height: 100%;
    width:570px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 1s;
}
.bg.active{
    transform:translateX(0%);
}
.bg ul{
    border:2px solid #ff9292;
    padding:290px 190px;
    
}
.bg ul li{
    position: relative;
    padding:35px 0;
}
.bg ul li a{
    padding-left:10px;
    font-size: 30px;
}
.bg ul li span{
    background:#ff9292;
    position: absolute;
    top:50%;
    left:0;
    height:2px;
    width:10px;
    transform:rotate(60deg) translateX(-5px);
}
.bg ul li span:nth-of-type(2){
    transform:rotate(-60deg) translateX(-3px) translateY(-1px);
}






footer{
    height: 123px;
}