@import url("common.css");


main{
    margin: 0 auto;
}
.contect{
    margin:50px auto;
    background: #ffdbce;
    padding:40px;
    display: flex;
    justify-content: center;    
}
.contect article{
    margin:0 10px;
    background:#fffaeb;
    text-align: center;
    padding:40px 75px;
}
.contect article img{
    width:70%;
}
.contect article h2{}
.contect article small{
    font-family: 'Noto Sans', sans-serif;
    display: inline-block;
    margin:0;
    margin-bottom:15px;
}
.contect article p{
    font-size:20px;
}

.contect div{
    margin:0 10px;
}
.contect div p{
    margin: 10px;
}
.contect div p input{
    padding:15px;
    outline-style: none;
    background:#fffaeb;
    border:none;
    width:305px;
}
.contect div p input:nth-of-type(1){margin-right:5px;}
.contect div p textarea{
    border:none;
    background:#fffaeb;
    width:620px;
    height:340px;
    padding:15px;
    outline-style: none;
    font-family: 'Noto Sans', sans-serif;
}
.contect p button{
    width:620px;
    background:#fffaeb;
    border:2px solid #ff9292;
    color:#ff9292;
    padding:10px;
    font-size:20px;
}