@import url("common.css");


main {
    margin: 0 auto;
}

div {
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}






/*mobile*/
@media (max-width:480px) {
    div {
        margin: 0 auto;
        padding-top: 150px;
        text-align: center;
        width: 80%;
    }

    div img {
        width: 100%;
    }
}


@media (min-width:768px) and (max-width:1024px) {
    div {
        margin: 0 auto;
        padding-top: 150px;
        text-align: center;
        width: 80%;
    }

    div img {
        width: 100%;
    }
}
